.graphMt {
  margin-top: 495px;
  position: relative;
}

.graphMt-img {
  position: absolute;
  bottom: -107px;
  right: -30px;
}
.graphMt-img-absolute {
  position: absolute;
  bottom: -170px;
  right: -186px;
}
