.App {
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  color: white;
  height: 100%;
}

.container {
  width: 1462px;
  padding: 78px 160px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.wrapper {
  padding: 2px 12px;
}
